body{
    font-family: 'Open Sans', sans-serif;
}

.banner-container{
    background-color: #cacaca;
}

.banner-column{
    background-color:  #808080;;

}

.navbar-container{
    top:0 ;
    background-color: #262837;
    position: sticky;
    z-index: 2;
}

.about-container{
    background-color: #008080;
}

.education-container{
    background-color: #eeeeee;
}

.bg-redtype{
    background-color: #F8857f;
}

.bg-redtype:hover{
 color: black!important;
}

.redtype-color{
    color:  #F8857f;
}

.circle{
    background-color: #F8857f;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.project-container{
    background-color:rgb(8, 180, 180) ;
}


.form-container{
    background-color: #474d5d;
}


.inner-form{
    background-color: #585f73;
}